[submodule "themes/gruvbox"]
	path = themes/gruvbox
	url = https://github.com/schnerring/hugo-theme-gruvbox
[submodule "themes/module"]
	path = themes/module
	url = https://github.com/schnerring/hugo-mod-json-resume
[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/funkydan2/hugo-kiera
[submodule "themes/req"]
	path = themes/req
	url = https://github.com/schnerring/hugo-mod-json-resume
